@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

$black-primary: hsl(0, 0%, 0%);
$white-primary: hsl(0, 0%, 100%);
$alpha-grey: hsl(0, 0%, 70%, 0.7);

@mixin flex(
    $direction: row,
    $content: flex-start,
    $items: stretch,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    overflow: hidden;
}

header {
    @include flex(row, center, center);

    height: 4.5rem;
    background-color: $black-primary;
    color: $white-primary;
}

.container {
    @include flex(column, center, center);
}

#background {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
}

#waldo {
    width: 35px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 16.5rem;
    right: 20rem;
    filter: contrast(80%);
}

.dropdown-container,
.leaders-container {
    @include flex(row, center, center);

    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.dropdown,
.leaders {
    @include flex(column, center, center);

    width: 400px;
    height: 200px;
    gap: 1rem;
    background-color: $alpha-grey;

    input {
        text-align: center;
    }
}

.leaders {
    height: 60vh;
    overflow: hidden;
}
